# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Windows build artifacts
windows/flutter/ephemeral/

# IDE
.idea/
.vscode/
*.suo
*.user

# Env
.env
.env.*
